<!--Banner Start-->
  <section id="banner">
    <ul id="home-banner">
      <li><img src="/assets/images/awaken-old-web/banner-img-1.jpg"/>
        <div class="caption">
          <div class="container">
            <div class="holder">
              <h1 style="color:#FFF;">Light of the World</h1>
              <div class="paragraph-box">
                <p>Our winter series continues February 10th at Guardian Angels Catholic Church in Clawson.  Our speaker for the night will be Pete Burak.</p>
              </div>
              <a href="#" class="btn-detail">View Details</a> </div>
          </div>
        </div>
      </li>
      <li> <img src="/assets/images/awaken-old-web/banner-img-2.jpg"/>
        <div class="caption">
          <div class="container">
            <div class="holder">
              <h1>Lorem Ipsum is dummy text of
                the printing...</h1>
              <div class="paragraph-box">
                <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet maurisNullam ac urna eu felis dapibus condimentum.</p>
              </div>
              <a href="#" class="btn-detail">View Details</a> </div>
          </div>
        </div>
      </li>
      <li> <img src="/assets/images/awaken-old-web/banner-img-3.jpg"/>
        <div class="caption">
          <div class="container">
            <div class="holder">
              <h1>Lorem Ipsum is dummy text of
                the printing...</h1>
              <div class="paragraph-box">
                <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet maurisNullam ac urna eu felis dapibus condimentum.</p>
              </div>
              <a href="#" class="btn-detail">View Details</a> </div>
          </div>
        </div>
      </li>
    </ul>
  </section>
  <!--Banner End--> 