<section class="featured-sermon">
  <div class="container"> <strong class="title">Last Awaken Podcast</strong>
    <div class="player-box">
      <div class="player-holder"> <strong class="title">Fr. Bob Johnson</strong>
        <div class="mp3-player-box">
          <audio preload="auto" controls>
            <source src="audio/BlueDucks_FourFlossFiveSix.mp3">
            <source src="audio/BlueDucks_FourFlossFiveSix.ogg">
            <source src="audio/BlueDucks_FourFlossFiveSix.wav">
          </audio>
        </div>
      </div>
    </div>
    <div class="download-section"><a href="#"><i class="fa fa-video-camera"></i></a> <a href="#"><i class="fa fa-file-text-o"></i></a> <a href="#"><i class="fa fa-arrow-circle-down"></i></a> <a href="#"><i class="fa fa-th-list"></i></i></a> </div>
  </div>
</section>